<footer class="footer">
  <small>
    The <a href="http://www.google.com/", target="_blank">App</a>
    by <a href="http://www.twitter.com/", target="_blank">Chandra Sekhar</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path, target: "_blank" %></li>
      <li><%= link_to "Contact", '#', target: "_blank" %></li>
      <li><a href="http://www.fb.com/", target="_blank">News</a></li>
    </ul>
  </nav>
</footer>